
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* 전체 부분 공통적 */
.list-container {
    width: 100%;
    height: 100%;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

/* header css */
.header {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 1rem;
    display: flex;
    padding: 0 2rem;
}

.header-inner {
    margin: 0 auto;
    text-align: center;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.header-left {
  font-weight: 900px;
  font-size: 2rem;
  color:#5d6ac0;
}
.header-left a:visited {
    color:#6069bd;
}

.header-left :hover {
    color:#6069bd;
    cursor: pointer;
    transition: 0.2s;
}

.header-right {
    display: flex;
    gap: 10px;
}
.header-right a:visited {
    color: black;
}

.header-right :hover {
    color:#6069bd;
    transition: 0.2s;
    cursor: pointer;
}

/* section css  */
.section-container {
    width: 100%;
}

.section {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-select select {
    width: 100px;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
}

/* section list css  */
.resume-list {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    
}

.list-inner {
    width: calc((100% - 20px) / 3);
    border: 1px solid #e3e3e3;
    height: 100%;
    border-radius: 8px;
    padding: 0.8rem;
}
.list-img:hover{
    cursor: pointer;
    padding: 10px;
    transition: 0.5s;
}


.list-img {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.list-img img {
    border-radius: 50%;
}

.tag-hr {
    margin: 10px 0;
    border: 1px solid #e3e3e3;
}

.list-info-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-info div span {
    font-size: 0.9rem;
}

.info-name {
    font-weight: 600;
}

.info-history {
    color: #adadad;
}

.list-skills {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.list-skills-moc {
    display: flex;
    height: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebddff;
    text-align: center;
    border-radius: 4px;
    width: 23%;
    font-size: 0.5em;
    padding: 7px 5px;
}

/* list page btn */
.list-btn {
    margin-top: 30vh;
    margin-bottom: 30px;
}

.list-btn-inner {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;
}

.btn {
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    background-color: #f2f4f5;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button {
    cursor: pointer;
    border: none;
}

.active,
.active button {
    background-color: #6069bd;
    color: white;
}


/* footer css 부문  */
footer {
    width: 100%;
    background-color: #f2f4f5;
}

.footer {
    height: 250px;
    display: flex;
    width: 800px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.footer-inner {
    text-align: center;
    align-content: center;
}

@media all and (min-width : 320px) and (max-width : 768px){
    .inner {
        max-width: 100%;
    }
    .section-container {
        padding: 0 20px;
    }
    .list-inner{
        width: 100% !important;
    }
    @media (max-width:430px){
        .header-left {
            font-size: 1.2rem;
        }
        .header-right{
            font-size: 0.8rem;
        }
    }
    @media (max-width:370px){
        .header-left {
            font-size: 1.0rem;
        }
        .header-right{
            font-size: 0.6rem;
        }
    }
}
@media (min-width : 768px) {
    .section-container {
        padding: 0 20px;
    }
    .inner {
        max-width: 100%;
    }
}