* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  all: unset;
}
a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
  cursor: pointer;
}
.Information:hover {
  cursor: pointer;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  white-space: nowrap;
}

.outer {
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  line-height: 10px;
  border-bottom: 1px solid #ebeaeb;
}

.head--topcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head--title--contianer {
  display: flex;
  gap: 5rem;
  color: #5d6ac0;
}

.head--title {
  font-weight: 900px;
  font-size: 2rem;
}

.head--showinfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  gap: 10px;
  font-size: 15px;
}

input[type="text"] {
  width: 20rem;
  height: 1.6rem;
  font-size: 16px;
  border: 2px solid #5d6ac0;
  border-radius: 50px;
  padding: 0 20px;
}

input:focus {
  background-color: rgba(211, 211, 211, 0.164);
}
/* .top--section {
    height: 2rem;
    width: 100%;
    background-color:#fff;
    margin-top: 4rem;
    border-top: 2px solid #ebeaeb;
    border-bottom: 2px solid #ebeaeb;
    background-color: #fff;
    position: fixed;
}  */
.head--bottomcontainer {
  padding: 0 100px;
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
  border-bottom: #ebeaeb;
}

.list--left {
  display: flex;
  gap: 2rem;
}
.Information--special {
  color: #5d6ac0;
}

.list--right {
  color: #5d6ac0;
}

.top--section {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #ebeaeb;
}
/* 메인 컨텐츠의 도입 */
.main--topcontainer {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  width: 100%;
}

/* 좌측 컨테이너의 시작 */
.left--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* one */
.left--decorate--one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-flag {
  color: #ff7a00;
  margin: 0.8rem;
}

.left--one {
  display: flex;
  flex-direction: column;
}

.left--one--first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 550;
  font-size: 1.2rem;
  gap: 5px;
}

.left--one--first--2 {
  border: 1px solid #ffebcc;
  background-color: #ffebcc;
  font-weight: 450;
  font-size: 0.7rem;
  border-radius: 50px;
  padding: 5px;
}

.left--one--secod {
  font-weight: 450;
  font-size: 0.7rem;
  color: grey;
}
/* two */
.left--decorate--two {
  border: 2px solid #f8ebd5;
  width: 300px;
  height: 90px;
  background-color: #f8ebd5;
  border-radius: 30px;
}
.left--two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 90px;
}
.left--two--one:hover,
.left--two--two:hover,
.left--two--three:hover {
  font-size: 30px;
  transition: 0.7s;
}
/* three */
.left--decorate--three {
  margin-top: 0.2rem;
  border: 2px solid #f4f6fa;
  width: 300px;
  height: 45px;
  background-color: #f4f6fa;
  border-radius: 30px;
}

.left--three {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
  gap: 15px;
}

.left--decorate--three:hover {
  background-color: #d5f0fb;
}
/* four */
.left--decorate--four {
  margin-top: 0.2rem;
  border: 2px solid #fff;
  width: 300px;
  height: 20px;
  background-color: #fff;
}

.left--four {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
  gap: 15px;
}
.left--four--two {
  font-weight: 350;
}
.left--four--three {
  font-weight: 700;
}

/* five */

.left--decorate--five {
  margin-top: 0.2rem;
  border: 2px solid #fff;
  width: 300px;
  height: 20px;
  background-color: #fff;
  margin: 15px;
}
.left--five--two {
  font-weight: 350;
}
.left--five--three {
  font-weight: 700;
}

.left--five {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
  gap: 6px;
}

/* 가운데 컨데이너 작업 */
.center--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f4f8;
  background-color: #f3f4f8;
  border-radius: 20px;
  white-space: nowrap;
}

.center--decorate--one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center--one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.center--one--one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: 1px solid #fff;
  border-radius: 50px;
}

.center--one--one:hover {
  border: 1px solid #2d67ff;
  background-color: #2d67ff;
  color: #fff;
}

.center--one--two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: 1px solid #fff;
  border-radius: 50px;
}

.center--one--two:hover {
  border: 1px solid #2d67ff;
  background-color: #2d67ff;
  color: #fff;
}

.center--one--three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: 1px solid #fff;
  border-radius: 50px;
}

.center--one--three:hover {
  border: 1px solid #2d67ff;
  background-color: #2d67ff;
  color: #fff;
}

.center--text {
  font-size: 12px;
}

.center--decorate--two {
  display: flex;
}

.center--card--list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  height: 190px;
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 1rem;
  background-color: #fff;
}

.center--card--list:hover {
  box-shadow: 5px 5px 5px lightgray;
}

.company--icon img {
  width: 81px;
  height: 28px;
}

.company--announcement {
  overflow-wrap: anywhere;
}

/* 오른쪽 컨테이너 */
.right--container {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 20px;
}

.right--decorate--two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  gap: 5px;
}

.right--two--one {
  border: 1px solid #f3f4f8;
  background-color: #f3f4f8;
  border-radius: 15px;
}

.right--two--two {
  border: 1px solid #f3f4f8;
  background-color: #f3f4f8;
  border-radius: 15px;
}

.right--two--three {
  border: 1px solid #f3f4f8;
  background-color: #f3f4f8;
  border-radius: 15px;
}

.right--icon {
  padding: 2px;
  color: #00cc52;
}

.righ--text {
  padding: 2px;
  font-size: 12px;
}

.right--two--one:hover,
.right--two--two:hover,
.right--two--three:hover {
  border: 1px solid #00cc52;
}

.middle--section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* rgb(243,244,248 */
.middle--container {
  margin-top: 3.5rem;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 3rem;
  width: 100%;
}

/* .bottom--section{
        display: flex;
    height: 100%;
    width: 100%;
    background-color:#fff;
    border-top: 2px solid #ebeaeb;
} */

.main--bottomcontainer {
margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 3rem;
}

.bottom--decorate--one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom--decorate--two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom--decorate--three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom--decorate--four {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom--card--list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  height: 190px;
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 1rem;
  background-color: #f3f4f8;
}

.bottom--card--list:hover {
  box-shadow: 5px 5px 5px lightgray;
}

.company--icon img {
  width: 81px;
  height: 28px;
}

.company--announcement {
  overflow-wrap: anywhere;
}

.middle--img {
  width: 100%;
  height: 3rem;
}

/* footer css 부문  */
footer{
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    width: 100%;
    height: 150px;
    line-height: 150px;
}
.footer--copyright{
background-color: #f7f7f7;
}

@media (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

@media (max-width: 1366px) {
  .outer {
    display: none;
  }
}
/* 1176 */
@media (min-width: 320px) and (max-width: 1176px) {
  .main--topcontainer{
    display: flex;
    flex-direction: column;
  }
  .middle--img{
    display: none;
    height: auto;
  }
  .center--decorate--one{
    flex-wrap: wrap;
    height: auto;
  }
  .center--decorate--two{
    flex-wrap: wrap;
    height: auto;
  }
  .bottom--decorate--one{
    
  }

  @media (min-width: 320px) and (max-width: 1024px) {
    .center--container {
      margin-bottom: 4rem;
    }
  }
}
