/* 조충희 6.10 */

/* 전체 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2f3f7;
    color: #555555;
}

a {
    all: unset;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

/* 헤더 */
header {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #e5e4e2;
}

.head__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head--title {
    font-size: 2rem;
    flex-shrink: 0
}

.head--buttoncontainer {
    display: flex;
    gap: 1rem;
}

.head--button {
    font-weight: bold;
    font-size: 0.8rem;
    flex-shrink: 0
}

.head--button:hover {
    cursor: pointer;
}

/* 섹션 */
/* 상부섹션 */
section {
    width: 100%;
    height: 100%;

}

.top--container {
    margin-top: 6rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
}

.top--homebutton {
    font-weight: bold;
    flex-shrink: 0
}

.top--homebutton:hover {
    cursor: pointer;
}

.top--container--lower {
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e4e2;
    align-items: center;
    display: flex;
    align-items: start;
}

.top--username {
    border: 2px solid white;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    font-size: 3.2rem;
    flex-shrink: 0
}

.top--userstatus {
    margin-top: 1rem;
    margin-left: 1rem;
    text-decoration: underline;
    flex-shrink: 0
}

/* 메인섹션 */
.main--container {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e5e4e2;
}

.main--left {
    flex: 1;
}

.main--inputimage {
    border-radius: 100%;
    margin-left: 1rem;
    display: block;

}

.main--right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main--rightuppercontainer {
    display: flex;
}

.main--rightuppertitle {
    width: 8rem;
    height: 2rem;
    margin-left: 1rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    flex-shrink: 0
}

.main--rightuppertitle:hover {
    cursor: pointer;
}

.main--rightcardcontainer {
    display: flex;
    margin-top: 1.6rem;
}

.main--rightcard {
    width: 12.5rem;
    height: 10rem;
    background-color: #555555;
    margin-left: 1.2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0
}

.main--rightcard:hover {
    cursor: pointer;
}

.rightcard--title {
    margin-top: 3rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.rightcard--content {
    margin-top: 0.8rem;

    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: underline;
}

/* 하단섹션 */
.lower--container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 12rem;
}

.lower--upper--container {
    display: flex;
}


.lower--leftcontainer {
    display: flex;
}

.lower--leftcontainer:hover {
    cursor: pointer;
}

.lower--inputimage {
    border-radius: 1rem;
    margin-left: 1rem;
}

.leftcontainer--innerbox {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.leftcontainer--title {
    width: 10rem;
    color: #555555;
    font-weight: bold;
    flex-shrink: 0
}

.leftcontainer--content {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #555555;
    flex-shrink: 0
}

.lower--rightcontainer {
    display: flex;
}


.lower--card {
    width: 12rem;
    height: 6rem;
    margin-left: 1rem;
    border: 2px solid #e5e4e2;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower--card:hover {
    cursor: pointer;
}

.lowercard_title {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555555;
}

.lowercard_content {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #555555;
}

/* 푸터 */
footer {
    width: 100%;
    height: 10rem;

    background-color: #e5e4e2;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer--message {
    width: 100%;
    height: 100%;
    line-height: 10rem;

    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}

/* 미디어쿼리 사용 */
@media (min-width: 1200px) {

    /* 화면의 크기가 1200px보다 크면 */
    .inner {
        max-width: 1200px;
    }
}

@media (max-width: 768px) {

    .head--title {
        font-size: 1.6rem;
    }

    .top--username {
        font-size: 1.6rem;
    }

    .main--inputimage {

        width: 16rem;
        /* 반투명 처리 */
        z-index: 0;
        border-radius: 2rem;
    }

    .main--rightuppercontainer {
        margin-left: 0.5rem;
        flex-wrap: wrap;
    }

    .main--rightuppertitle {
        font-size: 0.8rem;
        margin-left: 0;
        margin-top: 0.5rem;
        width: 4rem;
        height: 1rem;
    }

    .main--container {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-bottom: 1rem;
    }

    .main--rightcardcontainer {
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .main--rightcard {
        width: 8rem;
        height: 3rem;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        border-radius: 0;
    }

    .rightcard--title {
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }

    .rightcard--content {
        display: none;
    }

    .lower--container {
        margin-top: 1rem;
    }

    .lower--upper--container {
        flex-wrap: wrap;
    }

    .lower--rightcontainer {
        flex-wrap: wrap;
    }

    .lower--card {
        width: 8rem;
        height: 3rem;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        border-radius: 0;
    }

    .lowercard_title {
        font-size: 0.8rem;
        font-weight: bold;
        margin-top: 0;
        line-height: 3rem;
    }

    .lowercard_content {
        display: none;
    }


    .lower--inputimage {
        border-radius: 1rem;
        width: 4rem;
        height: 4rem;

    }

    .leftcontainer--title {
        font-size: 0.8rem;
        width: 8rem;
        color: #555555;
        font-weight: bold;
    }

    .leftcontainer--content {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: #555555;
        flex-shrink: 0
    }

}