/* 조충희 6.9 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #555555;
}

/* 전체 */
a {
    all: unset;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

/* 헤더 */
header {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #e5e4e2;
}

.head__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head--title {
    font-size: 2rem;
}

.head--buttoncontainer {
    display: flex;
    gap: 1rem;
}

.head--button {
    font-weight: bold;
    font-size: 0.8rem;
}

.head--button:hover {
    cursor: pointer;
}

/* 섹션 */
section {
    width: 100%;
    background-color: #fff;
}

.main--container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--title {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.main--idcontainer {
    width: 25rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.main--idinnercontainer {
    width: 20rem;
    padding: 0.8rem 0;
    margin-right: 1rem;
    border-bottom: 1px solid #e5e4e2;
    display: flex;
}

.main--idduplicate {
    width: 8rem;
    height: 3rem;
    line-height: 2.8rem;
    border: 1px solid #5D6AC0;
    border-radius: 2rem;
    text-align: center;
    color: #5D6AC0;
    font-weight: bold;
}

.main--idduplicate:hover {
    cursor: pointer;
}

.main--textcontainer {
    width: 25rem;
    margin: 0.5rem;
    padding: 0.8rem 0;
    border-bottom: 1px solid #e5e4e2;
    display: flex;
}

.main--texttitle {
    width: 7rem;
    flex-shrink: 0;
}

.main--textinputbox {
    font-size: 0.8rem;
    border-width: 0;
}

.main--button {
    width: 25rem;
    height: 3rem;
    margin: 2rem;
    background-color: #5D6AC0;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 2rem;
    z-index: 1000;
}

.main--button:hover {
    cursor: pointer;
}

/* 푸터 */
footer {
    width: 100%;
    height: 10rem;
    background-color: #e5e4e2;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer--message {
    width: 100%;
    height: 100%;
    line-height: 10rem;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}

/* 미디어쿼리 사용 */
@media (min-width: 1200px) {

    /* 화면의 크기가 1200px보다 크면 */
    .inner {
        max-width: 1200px;
    }
}

@media (max-width: 768px) {

    .head--title {
        font-size: 1.6rem;
    }

    .main--title {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .main--textcontainer {
        width: 18rem;
    }

    #id--input {
        width: 6rem;
        text-overflow: ellipsis;
    }


    .main--button {
        width: 18rem;
    }

    .main--idcontainer {
        width: 18rem;
    }

    .main--idinnercontainer {
        width: 12rem;
        padding: 0.8rem 0;
        margin-right: 1rem;
        border-bottom: 1px solid #e5e4e2;
        display: flex;
    }

    .main--idduplicate {
        width: 6rem;
        height: 2.2rem;
        line-height: 2rem;
        font-size: 0.8rem;
    }
}

@media (max-height: 660px) {
    .signin_01 {
        position: relative;
    }
}

@media (max-height: 800px) {
    .signup_01 {
        position: relative;
    }
}